<!-- Danielle created this page for edit news -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit News</title>

    <style>
        body {
            background-color: white;
            color: black;
            padding: 5px;
            }
        /* Bordered form */
        form {
        border: 3px solid black;
        text-align: center;
        width: 50%;
        margin: 0 auto;

        }

        /* Full-width inputs */
        input[type=text], input[type=password] {
        width: 75%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid black;
        box-sizing: border-box;
        }

        /* Set a style for all buttons */
        button {
        background-color: #4CAF50;
        color: black;
        padding: 10px 10px;
        /* margin: 8px 0; */
        /* border: none; */
        cursor: pointer;
        width: 15%;
        }
    </style>
</head>
<body>
    <form method="POST" action="/editNews/<%=posts._id%>">
        <!-- <input  type="hidden name="_id" value="<%=posts._id%>"/> -->
        <p>
            <label>Title</label>
            <input type="text" name="title" value="<%=posts.title%>"/>
        </p>
        <p>
            <label>Description</label>
            <input type="text" name="description" value="<%=posts.description%>">
        </p>
        <p>
            <label>Url</label>
            <input type="text" name="url" value="<%=posts.url%>" />
        </p>
        <p>
            <label>Url to Imange</label>
            <input type="text" name="imageurl" value="<%=posts.imageurl%>"/>
        </p>

        <button type="submit">Update</button>
        <br>
        <div>
            <a href="/newsBoard">
                Cancel
            </a>
        </div>
        <br>
    </form>
    
</body>
</html>