
<html>
    <header>
        <%- include('navigationHeader') -%>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </header>
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</head>

<body>
    <h1>News Board</h1>
    <table id="newsBoard">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Published On</th>
            </tr>
        </thead>
        <tbody>
        <% posts.forEach(function(post){ %>
        <tr>
            <th><%= post.title %></th>
            <th><%= post.description %></th>
            <th><%= post.date %></th>
        </tr>
        <%});%>
</tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#display').DataTable();
        });
    </script>

<style>
    html, body
    {
      height: 100%;
      background-image: url("https://images.radio.com/wxrtfm/ocean_beach.jpg");

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</body>
<footer>
    <%- include('chat') -%>
</footer>
</html>