
<html>
    <header>
        <%- include('navigationHeader') -%>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
    </header>
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    
    <style>
        body {
            background-color: white;
            color: black;
            padding: 5px;
            }
            table{
            border: 1px solid black;
            padding: 3px;
            width: 100%;
            }
            td, th {
            border: 1px solid black;
            padding: 3px;
            columns: 150px;
            }
            tbody, thead {
            border: 1px solid black;
            padding: 3px;
            }
    </style>
</head>

<body>
    <h1>News Board</h1>
    <table id="newsBoard">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Published On</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
        <% posts.forEach(function(post){ %>
        <tr>
            <td><%= post.title %></td>
            <td><%= post.description %></td>
            <td><%= post.date %></td>
            <td>
                <button name="edit" onclick="location.href='/editNews/<%= post._id %>'">Edit</button>
                <button name="delete" onclick="deleteAlert()">Delete</button>
                <!-- Danielle added delete Script -->
                <script>
        
                    function deleteAlert()
                    {
                        if (confirm("Do you want to delete user?") == true) {
                            location.href='/newsBoard/delete/<%= post._id %>'
                        }
                    }
               </script>
            </td>
        </tr>
        <%});%>
</tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#display').DataTable();
        });
    </script>
<!-- Danielle commented -->
<!-- <style>
    html, body
    {
      height: 100%;
      background-image: linear-gradient(yellow, deepskyblue);

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style> -->
</body>
<footer>
    <%- include('chat') -%>
</footer>
</html>