<html lang="en">
	<head>
        <header>
            <%- include('navigationHeader') -%>
            <link rel="stylesheet" href="/css/bootstrap.min.css" />
        </header>
	<style>
     
        .color
        {
            font: color = red;
        }

        table 
        {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th 
        {
            border: 5px solid black;
            text-align: left;
            padding: 20px;
            color: black;
            background-image: linear-gradient(yellow, deepskyblue);

        }

        html, body, footer
        {
          height: 100%;
          background-image: linear-gradient(yellow, deepskyblue);

          /* Full height */
          height: 100%;
    
          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .imgt
        {
            background-color: black;
            color : yellow;
        }

    </style>

	</head>
	<body>
        <table>
        <thead>
            <tr>
                <th>Article Title:</th>
                <th>Article Author:</th>
                <th>Article Description</th>
                <th>Article Link</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <%for(let i=0; i<5;i++){%>
                <th><%=result.articles[i].title%></th>
                <th><%=result.articles[i].author%></th>
                <th><%=result.articles[i].description%></th>
                <th><button class = "imgt" onclick="location.href='<%= result.articles[i].url %>'"><%=result.articles[i].title%></button></th>
                <th><%=result.articles[i].content%></th>
            </tr>

            <%}%>
    </tbody>
    </table>
    </body>
    <%- include('footer') -%>

    <h2>Thanks for the news api https://newsapi.org/docs/get-started</h2>

</html>


