<html lang="en">
	<head>
        <header>
            <%- include('navigationHeader') -%>
            <link rel="stylesheet" href="/css/bootstrap.min.css" />
        </header>

	</head>
	<body>
        <div class="container">
            <div class="weather-title">
              <h1 class = "headerw">Sunshine Weather</h1>
              <p class = "pstyle">View the current weather for your city</p>
            </div>
            <form action="/weather" method="POST">
              <input type="text" name="city" class="ghost-input" placeholder="Enter a city">
            </form>
        
            <div class="result">
              <% if(temp !== null)  {%>
                <h1 class="temp"><%= temp %> &ordm;F</h1>
              <% } %>
        
              <div class="icon-des">
                <% if(icon !== null)  {%>
                  <img class="icon" src="http://openweathermap.org/img/w/<%= icon %>.png">
                <% } %>
                <% if(des !== null)  {%>
                  <p class = "pstyle"><%= des %></p>
                <% } %>
              </div>
        
              <% if(city !== null)  {%>
                <p class = "pstyle"><%= city %></p>
              <% } %>
              
            </div>
          </div>
    <style>
         * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .headerw
        {
          color: yellow;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.6;
            background-image: linear-gradient(yellow, deepskyblue);
        }

        .container {
            width: 700px;
            height: 350px;
            background: #000000;
            margin: 4rem auto;
        }

        header {
            background: #111;
            height: 3rem;
            width: 100%;
            position: relative;
        }

        .pstyle{
            color: #ffffff;
            font-size: 25px;
        }
        .weather-title {
            margin: 2rem 0;
            text-align: center;
        }

        .weather-title h1 {
            font-weight: bold;
            font-size: 35px;
        }

        form {
            padding: 0 .5rem;         
            font-size: 20px;

        }

        form input {
            width: 100%;
            outline: none;
            border: none;
            text-align: center;
            border-bottom: 1px solid #807a7a;
        }

        .result {
            text-align: center;
        }

        .result .temp {
            color: yellow;
            position: relative;
        }

        .result .icon-des {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .result .icon-des .icon {
            margin-right: 1rem;
        }

        .result .city {
            font-size: 1rem;
}

      </style>
    </body>
    <footer>
        <%- include('chat') -%>
    </footer>
</html>
