<html lang="en">
	<head>
        <header>
            <%- include('navigationHeader') -%>
            <link rel="stylesheet" href="/css/bootstrap.min.css" />
        </header>
	<style>
     
        table 
        {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th 
        {
            border: 5px solid black;
            text-align: left;
            padding: 20px;
            background-color: black;
            color: yellow;
        }

    </style>

	</head>
	<body>
        <h2>City: <%=result.city.name%></h2>
        <table>
        <thead>
            <tr>
                <th>The temperature for the day</th>
                <th>The max temperature</th>
                <th>The min temperature</th>
                <th>The main weather</th>
                <th>The date</th>
                <th>The humidity</th>
                <th>The Image</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <%for(let i=0; i<result.list.length;i++){%>
                <th><%=result.list[i].temp.day%>°C</th>
                <th><%=result.list[i].temp.max%></th>
                <th><%=result.list[i].temp.min%>°C</th>
                <th><%=result.list[i].weather[0].main%></th>
                <th><%=Date(result.list[i].dt)%></th>
                <th><%=result.list[i].humidity%></th>
                <th><img class="card-img-top" src='https://openweathermap.org/img/w/<%=result.list[i].weather[0].icon%>.png' alt="weather"/></th>
            </tr>
            <%}%>
    </tbody>
    </table>
    <style>
        html, body
        {
          height: 100%;
          background-image: linear-gradient(yellow, deepskyblue);;
    
          /* Full height */
          height: 100%;
    
          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      </style>
    </body>
    <footer>
        <%- include('chat') -%>
    </footer>
</html>
